wait = 100
breakpointM = 500
breakpointT = 956
breakpointD = 1280

fontSM = 10
fontMD = 14
fontLG = 18
fontXL = 22
fontXXL = 30

white = #FFFFFF
lightWhite =  #ecf0f1
lightDark = #2c3e50
lightGreen = #16a085
lightRed = #FF6A67
lightBlue = #3498db
lightGrey = #95a5a6
